
div#general{
    
    margin: auto;
    border: 5px solid rgb(0, 0, 0);
    background-color: red;
    height: 700px;
    width: 850px;
}
div#caja1{
    margin-top: 20px;
    margin-left: 50px;
    border: 5px solid rgb(0, 0, 0);
height: 300px;
width: 50%;
background-color: green;
float: left;
}
div#caja2{
    margin-top: 20px;
    margin-right: 50px;
    border: 5px solid rgb(0, 0, 0);
    height: 300px;
    width: 30%;
    float: right;
    background-color: rgb(174, 6, 174);
}
div#caja3{
    border: 5px solid rgb(0, 0, 0);
    height: 300px;
    width: 87%;
    background-color: rgb(255, 251, 0);
    position: relative;
    top: 360px;
    left: 50px;
}